/* Programa feito por Eduardo (a.k.a. D1ng0ls) */

/* http://localhost/prw/projeto01/projeto01CSS/cadastro_usuario.html
   http://127.0.0.1/prw/projeto01/projeto01CSS/cadastro_usuario.html */

body {
    padding: 0;
    margin: 0;
    display: block;
    background-color: rgb(132, 206, 255);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    width: 100vw;
    height: 100vh;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inpTxt {
    float: left;
    width: 200px;
    height: 17px;
    border: none;
    border-radius: 5px;
}

.inpTel {
    width: 160px;
}

.btnEnviar {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    color: white;
    background-color: rgb(148, 147, 147);
}

.btnEnviar:hover {
    background-color: rgb(73, 73, 73);
}

table {
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 20px;
    background-color: rgb(45, 171, 255);
    border-radius: 10px;
    box-shadow: black 5px 5px 20px;
}

table tr td p {
    margin: 10px;
}

table tr th {
    font-size: 1.5em;
    padding-bottom: 15px;
}